include includes/header.pug
// Title
h1.overlay__title
  | Oba, você deseja 
  span.text-gradient colaborar
  |  para 
  strong #camilaloliveira
  |  e 
  strong @studiourbanna
  | ?
// Description
p.overlay__description
  | Abrimos a vaquinha digital que será utilizada para os projetos web, mobile e mídias.
  strong Você pode doar via cartão ou em Pix (pela Mercado Pago).
// Buttons
.overlay__btns
  button.overlay__btn.overlay__btn--transparent
    a(href='./kofi') Doar via Ko-Fi
  button.overlay__btn.overlay__btn--transparent
    a(href='https://mpago.la/1bjNHYM' target='_blank')
      | Doar via Mercado Pago
  button.overlay__btn.overlay__btn--colors
    span Troca de cor
    span.overlay__btn-emoji 🎨
include includes/footer.pug