<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}} - {{author.milla.name}}</title>
    <meta name="description" content="{{ page.description }}"> 
    
    <link rel="shortcut icon" type="image/x-icon" href="{{page.baseurl}}/assets/images/logo_clcmo.png">
        
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="{{page.baseurl}}/assets/css/style.css">

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    
    <!-- Jquery on header to make sure everything works, the rest  of the scripts in footer for fast loading -->
    <script 
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    </head>
    
<body>
    <!-- Canvas -->
    <canvas class="orb-canvas"></canvas>
    <!-- Overlay -->
    <div class="overlay">
        <!-- Overlay inner wrapper -->
        <div class="overlay__inner">
            {{ content }}
        </div>
    </div>
    <script type="module" src="{{page.baseurl}}/assets/js/script.js"></script>
</body>